<ion-content>
  <ion-card>
    <div class="area-foto">
      <img src="assets/icon/foto1.jpg" class="foto1" alt="fotodeperfil">
     </div>  
    <ion-card-content>
      O que achou do Profissional?
      <select name="profissional">
        <option value="perfeito">Nada a dizer</option>
        <option value="perfeito">Perfeito</option>
        <option value="otimo">Ótimo</option>
        <option value="bom">Bom</option>
        <option value="mediano">Mediano</option>
        <option value="ruim">Ruim</option>
        </select>
        <br>
        Qual nota você avalia o atendimento?
        <select name="nota">
          <option value="10">10</option>
          <option value="9">9</option>
          <option value="8">8</option>
          <option value="7">7</option>
          <option value="6">6</option>
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
          <option value="0">0</option>
          </select>
          <br>
         Como você teve contato com esse profissional?
          <select name="nota">
            <option value="pes">Pesquisando</option>
            <option value="reco">Recomendações</option>
            <option value="propa">Propagandas</option>
            <option value="outros">Outros</option>
            
            </select>

          
    <ion-list>
      <ion-item>
        
      <ion-label position="floating"></ion-label>
      Tem algo que sente vontade de comentar em relação ao serviço? caso desejar diga abaixo.
      <ion-input></ion-input>
    </ion-item>
    
  
    </ion-list>

    <ion-button expand="full">Enviar</ion-button>
      </ion-card-content>  
  </ion-card>
</ion-content>
