<ion-head>
    <img class="online1" src="assets/icon/online1.png">
</ion-head>
<ion-content>
<ion-card class="card1">
    Então ta combinado vamos fechar nosso serviço esse domingo.
</ion-card>
<ion-card class="card2">
    Correto!!! aguardo atenciosamente.  
</ion-card>
<ion-card class="card3">
    Caso precisar sabe de algo entre em contato comigo novamente.
</ion-card>
<ion-card class="card4">
    Pode deixar!!!
</ion-card>
<div class="divinferior">
    <ion-card class="cardinferior">
        Insira uma mensagem...
    </ion-card>
</div>
</ion-content>
