<ion-head>
    <h1>Contratos Anteriores</h1>
</ion-head>
<ion-content>
 <ion-card class="prof1">
    <img class="borda" src="assets/icon/profissional1.jpg"> 
    <img class="descri" src="assets/icon/MPimg.png"> 
 </ion-card>
 <ion-card class="prof2">
    <img class="borda" src="assets/icon/profissional2.jpg"> 
    <img class="descri" src="assets/icon/MPimg2.png"> 
</ion-card>
<ion-card class="prof3">
    <img class="borda" src="assets/icon/profissional3.jpg"> 
    <img class="descri" src="assets/icon/MPimg3.png">  
</ion-card>
<ion-card class="prof4">
    <img class="borda" src="assets/icon/profissional4.jpg"> 
    <img class="descri" src="assets/icon/MPimg4.png"> 
</ion-card> 
</ion-content>
